/*!protectItemTravel*/
.protectItemTravel {
  display: flex;
  flex-grow: 1;
  max-width: 304px;
  text-align: left;
}
.protectItemTravel img {
  width: 24px;
  height: 22px;
  margin-top: 5px;
}
/*?_ItemTravel*/
._ItemTravel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
  width: 100%;
}
._ItemTravel p {
  font-family: "PTRootUIWebBold";
  font-size: 16px;
  line-height: 1.4;
}
._ItemTravel span {
  font-size: 16px;
  line-height: 1.4;
}

/*! 1200px */
@media (max-width: 1200px) {
  .protectItemTravel {
    max-width: 270px;
  }
}
/*! 1100px */
@media (max-width: 1100px) {
  .protectItemTravel {
    max-width: 235px;
  }
}
/*! 991px */
@media (max-width: 991px) {
  .protectItemTravel {
    width: 100%;
    max-width: none;
  }
  ._ItemTravel {
    width: 100%;
  }
}
