/* !          divLeftComp*/
.divLeftComp {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 40px;
}
/* !          _divCompDown*/
._divCompDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  min-height: 50px;
  padding: 10px 9px;
  background-color: white;
}
