/* !          _divCompDown*/
._divCompDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  height: auto;
  min-height: 50px;
  padding: 28px 70px 46px 68px;
  background-color: white;
}
._recomendCheck {
  padding-top: 13px;
}

/*! 1100px */
@media (max-width: 1100px) {
  ._divCompDown {
    padding: 28px 70px 46px 59px;
  }
}
/*! 991px */
@media (max-width: 991px) {
  ._divCompDown {
    padding: 28px 44px 46px 59px;
  }
}
/*! 840px */
@media (max-width: 840px) {
  ._divCompDown {
    padding: 20px 40px 52px 26px;
  }
  ._recomendCheck {
    padding-left: 8px;
    padding-top: 27px;
  }
}
