/* !          data*/
/* !          _grayBlick*/
._grayBlick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 15px 0 15px 25px;
}
._grayBlick span {
  width: 100%;
  padding-left: 9px;
  padding-right: 15px;
  font-family: "PTRootUIWebMedium";
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

/* !          _DownName*/
._DownName {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 33px 0 39px;
  padding-left: 30px;
  padding-right: 21px;
  text-align: left;
}
._DownName h1 {
  font-family: "PTRootUIWebBold";
  font-size: 21px;
  line-height: 1.5;
}

._DownNameItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
._DownNameItems div:nth-child(1) {
  padding-bottom: 40px;
}
.__ItemsMr {
  margin-left: 175px;
}
._DownNameItems h1 {
  font-family: "PTRootUIWebBold";
  font-size: 26px;
  line-height: 1;
}
._DownNameItems span {
  font-size: 16px;
  line-height: 1.5;
}

._DownNameEdit {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
._DownNameEdit span {
  font-family: PTRootUIWebBold;
  font-size: 18px;
  line-height: 1.5;
  color: #48506a;
}

/*  */
/*! 1250px */
@media (max-width: 1250px) {
  ._DownNameItems {
    width: 30%;
  }
  .__ItemsMr {
    margin-left: 100px;
  }
}
/*! 1100px */
@media (max-width: 1100px) {
  ._DownNameItems {
    width: 36%;
  }
  .__ItemsMr {
    margin-left: 50px;
  }
}
/*! 991px */
@media (max-width: 991px) {
  ._DownNameItems {
    width: 36%;
  }
  .__ItemsMr {
    margin-left: 29px;
  }
  ._DownNameItems h1 {
    font-size: 20px;
  }
  ._DownNameItems span {
    font-size: 14px;
  }
}
/*! 840px */
@media (max-width: 840px) {
  /*?_grayBlick*/
  ._grayBlick {
    align-items: flex-start;
  }
  /* ?_DownName*/
  ._DownName {
    padding-left: 10px;
    padding-right: 10px;
  }
  .__ItemsMr {
    margin-left: 100px;
  }
  ._DownNameItems h1 {
    font-size: 26px;
  }
  ._DownNameItems span {
    font-size: 16px;
  }
}
/*! 676px */
@media (max-width: 676px) {
  /* ?_DownName*/
  ._DownName {
    flex-direction: column;
    padding-left: 30px;
    margin: 20px 0 36px;
  }
  /*?_DownNameItems*/
  .__ItemsMr {
    margin-left: 0;
  }
  ._DownNameItems {
    width: 1000%;
  }
}
